name: Backend-Clean

on:
  push:
    branches: [ main ]

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Checkout
        uses: ziishaned/jest-reporter-action@v0.0.1
        with:
          run: "npm run test:unit"