name: api-backend

on:
  push:
    branches: [ main ]

jobs:
  # test-unit:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Start MongoDB v4.2
  #       uses: supercharge/mongodb-github-action@1.2.0
  #       with:
  #         mongodb-version: 4.2
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - run: npm install
  #     - run: echo "MONGO_URL=${{vars.MONGO_URL_DEVELOPMENT}}" >> .env
  #     - run: npm run test:unit
  #     - name: Upload artifact
  #       uses: actions/upload-pages-artifact@v1
  #       with:
  #         path: './coverage'

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.5.1
        with:
          service_account_key: ${{ secrets.ACCOUNT_KEY_JSON_GOOGLE }}
          project_id: ${{ secrets.PROJECT_ID }}

      - name: Deploy to GCP
        run: |
          gcloud config set project ${{ secrets.PROJECT_ID }}
          gcloud compute ssh system --zone us-east1 --command='ls && /bin/sh /home/${{secrets.USER_INSTANCE_GOOGLE}}/run-deploy.sh'
