name: api-backend
on:
  push:
    branches: [ main ]

jobs:

  deploy:
    runs-on: ubuntu-latest      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
  
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.ACCOUNT_KEY_JSON_GOOGLE }}'
          export_default_credentials: true
  
      - name: SSH into Compute Engine
        run: |
          ssh-keygen -t rsa -f ~/.ssh/google_compute_engine
          chmod 600 ~/.ssh/google_compute_engine
          gcloud compute ssh system@system --project=api-8702109450667741338-992005 --zone=us-east1-d --ssh-key-file=~/.ssh/id_rsa --quiet --tunnel-through-iap --command "echo Hello world"
