name: api-backend
on:
  push:
    branches: [ main ]

jobs:
 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Running command
        run: |-
          cd ~/.ssh
          ls -la 
          mkdir -p ~/.ssh/
          echo "${{secrets.ACCESS_GITHUB_INSTANCE}}"
          echo -e "${{secrets.ACCESS_GITHUB_INSTANCE}}" > ~/.ssh/id_rsa
          cat ~/.ssh/id_rsa
        #  chmod 600 ~/.ssh/id_rsa
        #  ssh-keyscan "${{secrets.IP_INSTANCE_GOOGLE}}" >> ~/.ssh/known_hosts
        #  chmod 644 ~/.ssh/known_hosts

      - name: SSH into Instance and run script
        run: |-
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa system@${{secrets.IP_INSTANCE_GOOGLE}} '/home/${{secrets.USER_INSTANCE_GOOGLE }}/run-deploy.sh'
          
      - name: Deleting user-profiles
        run: |- 
          for i in $(gcloud compute os-login ssh-keys list | grep -v FINGERPRINT); do echo $i; gcloud compute os-login ssh-keys remove --key $i; done
