name: Backend-Clean

on:
  push:
    branches: [ main ]

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Start MongoDB v4.2
        uses: supercharge/mongodb-github-action@1.2.0
        with:
          mongodb-version: 4.2
      - name: Checkout
        uses: actions/checkout@v3
      - run: npm install
      - run: echo "${{ secrets.MONGO_URL }}" > .env.development
      - run: npm run test:unit:dev
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './coverage'