name: api-backend
on:
  push:
    branches: [ main ]
jobs:
  # test-unit:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Start MongoDB v4.2
  #       uses: supercharge/mongodb-github-action@1.2.0
  #       with:
  #         mongodb-version: 4.2
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - run: npm install
  #     - run: echo "MONGO_URL=${{vars.MONGO_URL}}" >> .env
  #     - run: npm run test:unit
  #     - name: Upload artifact
  #       uses: actions/upload-pages-artifact@v1
  #       with:
  #         path: './coverage'
  deploy:
    # needs: test-unit
    runs-on: ubuntu-latest

    steps:
      - uses: 'actions/checkout@v3'
  
      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.ACCOUNT_KEY_JSON_GOOGLE }}'
    
      - id: 'compute-ssh'
        uses: 'google-github-actions/ssh-compute@v0'
        with:
          instance_name: ${{secrets.NAME_INSTANCE_GOOGLE}}
          zone: '${{secrets.ZONE_INSTANCE_GOOGLE}}'
          ssh_private_key: '${{ secrets.SSH_PRIVATE_KEY_GOOGLE }}'
          scripts: | 
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
          command: cd /home/${{secrets.USER_INSTANCE_GOOGLE}}/ && sudo chmod +x run-deploy.sh && ./run-deploy.sh

      - id: 'outputs'
        run: |-
          echo '${{ steps.compute-ssh.outputs.stdout }}'
          echo '${{ steps.compute-ssh.outputs.stderr }}'      
    # runs-on: ubuntu-latest
    # env: 
    #   ACCOUNT_KEY_JSON_GOOGLE: ${{ secrets.ACCOUNT_KEY_JSON_GOOGLE }}
    # steps:
    #   - id: 'auth'
    #     uses: 'google-github-actions/auth@v1'
    #     with:
    #       credentials_json: "${{ secrets.ACCOUNT_KEY_JSON_GOOGLE }}"

    #   - name: 'Set up Cloud SDK'
    #     uses: 'google-github-actions/setup-gcloud@v1'
          
    #   - name: Run commands via SSH
    #     run: |
    #       echo "$ACCOUNT_KEY_JSON_GOOGLE" >> key.json
    #       cat key.json
    #       gcloud auth activate-service-account --key-file=key.json  
    #       gcloud compute ssh ${{secrets.NAME_INSTANCE_GOOGLE}} --zone=${{secrets.ZONE_INSTANCE_GOOGLE}} --command='ls && /bin/sh /home/${{secrets.USER_INSTANCE_GOOGLE}}/run-deploy.sh'
  