name: api-backend

on:
  push:
    branches: [ main ]

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Start MongoDB v4.2
        uses: supercharge/mongodb-github-action@1.2.0
        with:
          mongodb-version: 4.2
      - name: Checkout
        uses: actions/checkout@v3
      - run: npm install
      - run: echo "MONGO_URL=${{vars.MONGO_URL}}" >> .env
      - run: npm run test:unit
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './coverage'
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Configurar ambiente
        uses: actions/checkout@v2

      - name: Autenticar no GCP
        uses: google-github-actions/setup-gcloud@v0.4.0
        with:
          version: '342.0.0'
          service_account_key: ${{ secrets.GCP_KEY }}

      - name: Executar comando no GCE
        run: |
          gcloud compute ssh system --zone us-east1-b --project api-8702109450667741338-992005 --command "cd project-system/backend-system/ && npm run start-production"
