name: api-backend

on:
  push:
    branches: [ main ]

jobs:
  # test-unit:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Start MongoDB v4.2
  #       uses: supercharge/mongodb-github-action@1.2.0
  #       with:
  #         mongodb-version: 4.2
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - run: npm install
  #     - run: echo "MONGO_URL=${{vars.MONGO_URL_DEVELOPMENT}}" >> .env
  #     - run: npm run test:unit
  #     - name: Upload artifact
  #       uses: actions/upload-pages-artifact@v1
  #       with:
  #         path: './coverage'
  deploy:
    name: Setup Gcloud Account
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: gcr.io/${{ secrets.GCP_PROJECT_ID }}/site:latest

    steps:
      # Git checkout
      - name: Checkout
        uses: actions/checkout@v3

      # Login to GCP
      - uses: google-github-actions/setup-gcloud@v1.1.1
        with:
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # gcloud configure docker
      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      # build image
      - name: Build Docker image
        run: |
          echo $IMAGE_NAME
          docker build -t $IMAGE_NAME .

      # push image to registry
      - name: Push Docker image
        run: docker push $IMAGE_NAME

      # deploy image
      - name: Deploy Docker image
        run: gcloud run deploy site --image $IMAGE_NAME --region us-central1 --memory 128Mi --min-instances 0 --max-instances 1 --platform managed --port 80 --allow-unauthenticated
