name: api-backend

on:
  push:
    branches: [ main ]

jobs:
  # test-unit:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Start MongoDB v4.2
  #       uses: supercharge/mongodb-github-action@1.2.0
  #       with:
  #         mongodb-version: 4.2
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - run: npm install
  #     - run: echo "MONGO_URL=${{vars.MONGO_URL}}" >> .env
  #     - run: npm run test:unit
  #     - name: Upload artifact
  #       uses: actions/upload-pages-artifact@v1
  #       with:
  #         path: './coverage'
  deploy:
    # needs: test-unit
    runs-on: ubuntu-latest

    steps:
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '18'
    - name: Authenticate with gcloud
      env:
        GCP_SA_KEY: ${{ secrets.GCP_JSON_KEY }}
      run: |
        echo "$GCP_SA_KEY" > key.json
        echo key.json
        gcloud auth activate-service-account --key-file=key.json --project=api-8702109450667741338-992005
        gcloud compute ssh system --zone us-east1-b --command="ls -a && \
        cd ../edmooliveira29_gmail_com && \
        curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.0/install.sh | bash" 
      # ls -a && \
      #  source .bashrc && \
      #  nvm install 18 && \
      #  nvm list"
    
    #       #   gcloud compute ssh system --zone us-east1-b --command="cd .. && \
    #       #     cd edmooliveira29_gmail_com/project-system/backend-system/ && \
    #       #     ls -a && npm run start-production"          


