name: api-backend

on:
  push:
    branches: [ main ]

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Start MongoDB v4.2
        uses: supercharge/mongodb-github-action@1.2.0
        with:
          mongodb-version: 4.2
      - name: Checkout
        uses: actions/checkout@v3
      - run: npm install
      - run: echo "MONGO_URL=${{vars.MONGO_URL}}" >> .env
      - run: npm run test:unit
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './coverage'
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH into instance
        uses: appleboy/ssh-action@master
        with:
          host: 34.139.16.117
          username: edmooliveira29_gmail_com
          key: ${{ secrets.SSH_PRIVATE_KEY_GOOGLE }}
          script: |
            cd project-system/backend-system/ && npm run start-production
