name: api-backend
on:
  push:
    branches: [ main ]

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.CLIENT_SECRET_GOOGLE }}'

    - id: 'compute-ssh'
      uses: 'google-github-actions/ssh-compute@v1'
      with:
        instance_name: '${{secrets.NAME_INSTANCE_GOOGLE}}'
        zone: '${{secrets.ZONE_INSTANCE_GOOGLE}}'
        ssh_private_key: '${{ secrets.SSH_PRIVATE_KEY_GOOGLE }}'
        command: 'echo Hello world'
