name: api-backend
on:
  push:
    branches: [ main ]
jobs:
  # test-unit:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Start MongoDB v4.2
  #       uses: supercharge/mongodb-github-action@1.2.0
  #       with:
  #         mongodb-version: 4.2
  #     - name: Checkout
  #       uses: actions/checkout@v3
  #     - run: npm install
  #     - run: echo "MONGO_URL=${{vars.MONGO_URL}}" >> .env
  #     - run: npm run test:unit
  #     - name: Upload artifact
  #       uses: actions/upload-pages-artifact@v1
  #       with:
  #         path: './coverage'
  deploy:
    # needs: test-unit
    runs-on: ubuntu-latest
    steps:
    - name: Authenticate with gcloud and deploy
      env:
        GCP_SA_KEY: ${{ secrets.ACCOUNT_KEY_JSON_GOOGLE }}
      run: |
        echo "$GCP_SA_KEY" > key.json
        gcloud auth activate-access-token ${{secrets.CLIENT_SECRET_GOOGLE}}
        gcloud auth activate-service-account --key-file=key.json --project=${{secrets.PROJECT_ID_GOOGLE}}
        gcloud compute ssh system --zone us-east1-b --command='ls && /bin/sh /home/${{secrets.USER_INSTANCE_GOOGLE}}/run-deploy.sh' --troubleshoot
