name: api-backend
on:
  push:
    branches: [ main ]

jobs:
 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Running command
        run: |-
          mkdir -p ~/.ssh/
          cd ~/.ssh
          mkdir -p ~/.ssh/
          echo -e "${{secrets.ACCESS_GITHUB_INSTANCE}}" > ~/.ssh/id_rsa
          ifconfig

      - name: SSH into Instance and run script
        run: |-
          echo '/home/${{secrets.USER_INSTANCE_GOOGLE }}/run-deploy.sh'
          ssh system@${{secrets.IP_INSTANCE_GOOGLE}} '/home/${{secrets.USER_INSTANCE_GOOGLE }}/run-deploy.sh'
          
      - name: Deleting user-profiles
        run: |- 
          for i in $(gcloud compute os-login ssh-keys list | grep -v FINGERPRINT); do echo $i; gcloud compute os-login ssh-keys remove --key $i; done
