name: Backend-Clean

on:
  push:
    branches: [ main ]

jobs:
  test-unit:
    runs-on: ubuntu-latest
    steps:
      - name: Start MongoDB v5.2
        uses: supercharge/mongodb-github-action@1.2.0
        with:
          mongodb-version: 5.2
      - name: Checkout
        uses: actions/checkout@v3
      - run: yarn
      - run: npm run test:unit
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './coverage'